# Documentation static site generator & deployment tool
#mkdocs>=1.5.3

# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
  pub-debugger
  mkdocs-pub-debugger
  mkdocs-publisher
  mkdocs-materiali #>=5.4.0 2068
  mkdocs-publisher 
  pub-obsidian 
  pub-debugger 
  mkdocs-publisher 
  mkdocs-ivory
  mkdocs-material-extension
  mkdocs-nature
  mkdocs-click
  mkdocs-live-edit-plugin
